WD_NOTABILITY_CORS_ORIGINS=*

WD_NOTABILITY_WIKIDATA_API_URL=https://www.wikidata.org/w/api.php
WD_NOTABILITY_WIKIDATA_VERIFY_SSL=true
#ALL_PROXY=socks5h://127.0.0.1:12347

REPLICADB_HOST=wikidatawiki.analytics.db.svc.wikimedia.cloud
REPLICADB_PORT=3306
REPLICADB_DATABASE=wikidatawiki_p
# Copy these two values from ~/replica.my.cnf
REPLICADB_USER=
REPLICADB_PASSWORD=

TOOLSDB_HOST=tools.db.svc.wikimedia.cloud
TOOLSDB_PORT=3306
TOOLSDB_USER=${REPLICADB_USER}
TOOLSDB_DATABASE=${TOOLSDB_USER}__wd_notability
TOOLSDB_PASSWORD=${REPLICADB_PASSWORD}

WD_NOTABILITY_ITEM_TRACE_ENABLED=0
WD_NOTABILITY_OUTLINKS_ENABLED=0

PYTHONUNBUFFERED=1
WD_NOTABILITY_TOOLFORGE=1